@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Comme', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rethink Sans', sans-serif;
}